<ion-header>

  <ion-toolbar>

    <ion-title>Confirmación</ion-title>

    <ion-buttons slot="primary">
      <ion-button (click)="onCancel()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>

</ion-header>

<ion-content class="ion-text-center">

  <p>Estas seguro de reservar en {{restaurante.titulo}}?</p>

  <form (ngSubmit)="onReservar()" #formNew="ngForm" >
    <ion-grid>
      <ion-row>
        <ion-col sixe="12" class="ion-text-center">
          <ion-img [src]="restaurante.imgUrl"></ion-img>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12" class="ion-text-center">
          <ion-item>
            <ion-label position="floating">A nombre de:</ion-label>
            <ion-input [(ngModel)]="Nombre" required name="nombre"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col sixe="12" class="ion-text-center">
          <ion-item>
            <ion-label position="floating">Fecha</ion-label>
            <ion-datetime 
              display-format="MMM DD YYYY HH:ss"
              picker-format="YY MMM DD HH ss"
              monthShortNames="Enero,Febrero,Marzo,Abril,Mayo,Junio,Julio,Agosto,Septiembre,Octubre,Noviembre,Diciembre"
              [ngModel]="fecha"
              required
              name="horario"
              >
            </ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>

    </ion-grid>

    <ion-button 
      color="primary"
      type="submit" 
      [disabled]="!formNew.valid">
      Si,reservar
    </ion-button>

  </form>

</ion-content>

<!-- monthShortNames="Enero,Febrero,Marzo,Abril,Mayo,Junio,Junio,Julio,Agosto,Septiembre,Octubre,Nomviembre,Diciembre" 
"Lunes,Martes,Miercoles,Jueves,Viernes,Sabado,Domingo"-->